.wrapper {
  width: 100%;
}

.imgWrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 99.5%;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    opacity: 0;
    transition: 0.3s;
  }

  &:hover {
    &::before,
    & > .buttonWrapper {
      opacity: 1;
    }
  }
}

.buttonWrapper {
  position: absolute;
  width: 300px;
  right: calc(50% - 300px / 2);
  top: calc(50% - 30px / 2);
  display: flex;
  justify-content: space-evenly;
  opacity: 0;
  transition: 0.5s;
}

.wallpaper {
  width: 100%;
}

.author {
  float: right;
}
